<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# SQL Exam
© ExploreAI Academy

## Instructions to students

This challenge is designed to determine how much you have learned so far and will test your knowledge on SQL.

The answers for this challenge should be selected on Athena for each corresponding multiple-choice question. The questions are included in this notebook and are numbered according to the Athena questions. The options for each question have also been included.

Do not add or remove cells in this notebook. Do not edit or remove the `%%sql` comment as it is required to run each cell.

**_Good luck!_**

## Honour code

I, YOUR NAME YOUR SURNAME, confirm – by submitting this document – that the solutions in this notebook are a result of my own work and that I abide by the EDSA honour code (https://drive.google.com/file/d/1QDCjGZJ8-FmJE3bZdIQNwnJyQKPhHZBn/view?usp=sharing).

Non-compliance with the honour code constitutes a material breach of contract.

## The TMDb database

In this supplementary exam, you will be exploring [The Movie Database](https://www.themoviedb.org/) – an online movie and TV show database that houses some of the most popular movies and TV shows at your fingertips. The TMDb database supports 39 official languages used in over 180 countries daily and dates back all the way to 2008. 


<img src="https://github.com/Explore-AI/Pictures/blob/master/sql_tmdb.jpg?raw=true" width=80%/>


Below is an Entity Relationship Diagram (ERD) of the TMDb database:

<img src="https://github.com/Explore-AI/Pictures/blob/master/TMDB_ER_diagram.png?raw=true" width=70%/>

As can be seen from the ERD, the TMDb database consists of `12 tables` containing information about movies, cast, genre, and so much more.  

Let's get started!

## Loading the database

Before you begin, you need to prepare your SQL environment.  You can do this by loading the magic command `%load_ext sql`.

In [40]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook. 
# If you get an error here, make sure that mysql and pymysql are installed correctly. 

%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Next, go ahead and load your database. To do this, you will need to ensure you have downloaded the `TMDB.db` sqlite file from Athena and have stored it in a known location.

In [41]:
# Establish a connection to the local database using the '%sql' magic command.
# Replace 'password' with our connection password and `db_name` with our database name. 
# If you get an error here, please make sure the database name or password is correct.

%sql sqlite:///TMDB-a-4006.db

In [42]:
%config SqlMagic.displaylimit = None

displaylimit: Value None will be treated as 0 (no limit)

If the above line didn't throw out any errors, then you should be good to go. Good luck with the exam!

## Questions on SQL

Use the given cell below each question to execute your SQL queries to find the correct input from the options provided. Your solution should match one of the multiple-choice questions on Athena.

### Question 1

Who won the Oscar for “Actor in a Leading Role” in  2015?

(Hint: The winner is indicated as '1.0'.)

**Options:** 

  - Micheal Fassbender
  - Natalie Portman
  - Leonardo DiCaprio
  - Eddie Redmayne

In [4]:
%%sql
SELECT
     *
FROM
   oscars
WHERE
    year = 2015
AND winner = 1.0
AND award = 'Actor in a Leading Role'

Running query in 'sqlite:///TMDB-a-4006.db'

+------+-------------------------+--------+-------------------+--------------+
| year |          award          | winner |        name       |     film     |
+------+-------------------------+--------+-------------------+--------------+
| 2015 | Actor in a Leading Role |  1.0   | Leonardo DiCaprio | The Revenant |
+------+-------------------------+--------+-------------------+--------------+

### Question 2

What query will produce the ten oldest movies in the database?

**Options:**

 - SELECT TOP(10) * FROM movies WHERE release_date ORDER BY release_date ASC

 - SELECT  * FROM movies WHERE release_date IS NOT NULL ORDER BY release_date ASC LIMIT 10

 - SELECT * FROM movies WHERE release_date IS NOT NULL ORDER BY release_date DESC LIMIT 10

 -  SELECT * FROM movies WHERE release_date IS NULL ORDER BY release_date DESC LIMIT 10

In [51]:
%%sql
SELECT 
    * 
FROM 
   movies 
WHERE 
   release_date IS NOT NULL
ORDER BY 
     release_date ASC 
LIMIT 10

Running query in 'sqlite:///TMDB-a-4006.db'

+----------+-----------------------+----------------------------+----------+----------+-------------------+------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+------------+---------+----------------+--------------------------------------------------------------------------------------------------+--------------+------------+
| movie_id |         title         |        release_date        |  budget  | homepage | original_language |     original_title     |                                                                                                                                                                                                                                                                                                                                                                                                                                                  overview                                                                                                                                                                                                                                                                                                                                                                                                                                                  | popularity |  revenue   | runtime | release_status |                                             tagline                                              | vote_average | vote_count |
+----------+-----------------------+----------------------------+----------+----------+-------------------+------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+------------+---------+----------------+--------------------------------------------------------------------------------------------------+--------------+------------+
|   3059   |      Intolerance      | 1916-09-04 00:00:00.000000 |  385907  |   None   |         en        |      Intolerance       |                                                                                                                                                                                                                                                                                                                                                                            The story of a poor young woman, separated by prejudice from her husband and baby, is interwoven with tales of intolerance from throughout history.                                                                                                                                                                                                                                                                                                                                                                             |  3.232447  | 8394751.0  |  197.0  |    Released    |                                  The Cruel Hand of Intolerance                                   |     7.4      |     60     |
|   3060   |     The Big Parade    | 1925-11-05 00:00:00.000000 |  245000  |   None   |         en        |     The Big Parade     |                                                                                                                                                                                                                                                                                                                              The story of an idle rich boy who joins the US Army's Rainbow Division and is sent to France to fight in World War I, becomes friends with two working class men, experiences the horrors of trench warfare, and finds love with a French girl.                                                                                                                                                                                                                                                                                                                               |  0.785744  | 22000000.0 |  151.0  |    Released    |                                               None                                               |     7.0      |     21     |
|    19    |       Metropolis      | 1927-01-10 00:00:00.000000 | 92620000 |   None   |         de        |       Metropolis       |                                                                                                                                                                                                                                                                                                                                    In a futuristic city sharply divided between the working class and the city planners, the son of the city's mastermind falls in love with a working class prophet who predicts the coming of a savior to mediate their differences.                                                                                                                                                                                                                                                                                                                                     | 32.351527  |  650422.0  |  153.0  |    Released    | There can be no understanding between the hands and the brain unless the heart acts as mediator. |     8.0      |    657     |
|   905    |     Pandora's Box     | 1929-01-30 00:00:00.000000 |    0     |   None   |         de        | Die Bnchse der Pandora |                                                                                                                                                                                                                                                                                                                                                                                 The rise and inevitable fall of an amoral but naive young woman whose insouciant eroticism inspires lust and violence in those around her.                                                                                                                                                                                                                                                                                                                                                                                 |  1.824184  |    0.0     |  109.0  |    Released    |                                               None                                               |     7.6      |     45     |
|  65203   |  The Broadway Melody  | 1929-02-08 00:00:00.000000 |  379000  |   None   |         en        |  The Broadway Melody   |                                                                                                                                                                                               Harriet and Queenie Mahoney, a vaudeville act, come to Broadway, where their friend Eddie Kerns needs them for his number in one of Francis Zanfield's shows. Eddie was in love with Harriet, but when he meets Queenie, he falls in love to her, but she is courted by Jock Warriner, a member of the New Yorker high society. It takes a while till Queenie recognizes, that she is for Jock nothing more than a toy, and it also takes a while till Harriet recognizes, that Eddie is in love with Queenie                                                                                                                                                                                                |  0.968865  | 4358000.0  |  100.0  |    Released    |  The pulsating drama of Broadway's bared heart speaks and sings with a voice to stir your soul!  |     5.0      |     19     |
|  22301   |     Hell's Angels     | 1930-11-15 00:00:00.000000 | 3950000  |   None   |         en        |     Hell's Angels      | Two brothers attending Oxford enlist with the Royal Flying Corps when World War I breaks out. Roy and Monte Rutledge have very different personalities. Monte is a freewheeling womanizer, even with his brother's girlfriend Helen. He also proves to have a yellow streak when it comes to his Night Patrol duties. Roy is made of strong moral fiber and attempts to keep his brother in line. Both volunteer for an extremely risky two man bombing mission for different reasons. Monte wants to lose his cowardly reputation and Roy seeks to protect his brother. Roy loves Helen; Helen enjoys an affair with Monte; before they leave on their mission over Germany they find her in still another man's arms.  Their assignment to knock out a strategic German munitions facility is a booming success, but with a squadron of fighters bearing down on them afterwards, escape seems unlikely. |  8.484123  | 8000000.0  |  127.0  |    Released    |                   Howard Hughes' Thrilling Multi-Million Dollar Air Spectacle                    |     6.1      |     19     |
|  22649   |   A Farewell to Arms  | 1932-12-08 00:00:00.000000 |    4     |   None   |         en        |   A Farewell to Arms   |                                                                                                                                                                                                                                            British nurse Catherine Barkley (Helen Hayes) and American Lieutenant Frederic Henry (Gary Cooper) fall in love during the First World War in Italy. Eventually separated by Frederic's transfer, tremendous challenges and difficult decisions face each, as the war rages on. Academy Awards winner for Best Cinematography and for Best Sound, Recording. Nominated for Best Picture and for Best Art Direction.                                                                                                                                                                                                                                             |  1.199451  |    25.0    |   89.0  |    Released    |                            Every woman who has loved will understand                             |     6.2      |     28     |
|   3062   |      42nd Street      | 1933-02-02 00:00:00.000000 |  439000  |   None   |         en        |      42nd Street       |                                                                                                                                                                                                                                                                                                                                                                                            A producer puts on what may be his last Broadway show, and at the last moment a chorus girl has to replace the star.                                                                                                                                                                                                                                                                                                                                                                                            |  1.933366  | 2281000.0  |   89.0  |    Released    |                                               None                                               |     6.1      |     37     |
|  43595   |   She Done Him Wrong  | 1933-02-09 00:00:00.000000 |  200000  |   None   |         en        |   She Done Him Wrong   |                                                                                                                                                                                                                                                                        "New York singer and nightclub owner Lady Lou has more men friends than you can imagine. Unfortunately one of them is a vicious criminal who's escaped and is on the way to see ""his"" girl, not realising she hasn't exactly been faithful in his absence. Help is at hand in the form of young Captain Cummings a local temperance league leader though."                                                                                                                                                                                                                                                                        |  0.622752  | 2200000.0  |   66.0  |    Released    |                            Mae West gives a 'Hot Time' to the nation!                            |     5.1      |     27     |
|   3078   | It Happened One Night | 1934-02-22 00:00:00.000000 |  325000  |   None   |         en        | It Happened One Night  |                                                                                                                                                                            Ellie Andrews has just tied the knot with society aviator King Westley when she is whisked away to her father's yacht and out of King's clutches. Ellie jumps ship and eventually winds up on a bus headed back to her husband. Reluctantly she must accept the help of out-of- work reporter Peter Warne. Actually, Warne doesn't give her any choice: either she sticks with him until he gets her back to her husband, or he'll blow the whistle on Ellie to her father. Either way, Peter gets what he wants... a really juicy newspaper story!                                                                                                                                                                             | 11.871424  | 4500000.0  |  105.0  |    Released    |                                  TOGETHER... for the first time                                  |     7.7      |    275     |
+----------+-----------------------+----------------------------+----------+----------+-------------------+------------------------+------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+------------+---------+----------------+--------------------------------------------------------------------------------------------------+--------------+------------+

### Question 3

How many unique awards are there in the Oscars table?

**Options:**
 - 141
 - 53 
 - 80
 - 114

In [6]:
%%sql
SELECT 
    COUNT(DISTINCT award) AS UniqueAwards
FROM 
    oscars;

Running query in 'sqlite:///TMDB-a-4006.db'

+--------------+
| UniqueAwards |
+--------------+
|     114      |
+--------------+

### Question 4

How many movies are there that contain the word “Spider” within their title?

**Options:**
 - 0
 - 5
 - 1
 - 9

In [7]:
%%sql
SELECT
    COUNT(*) AS Number_of_Spider_films
FROM
   Movies
WHERE 
   title LIKE '%Spider%'

Running query in 'sqlite:///TMDB-a-4006.db'

+------------------------+
| Number_of_Spider_films |
+------------------------+
|           9            |
+------------------------+

### Question 5

How many movies are there that are both in the "Thriller" genre and contain the word “love” anywhere in the keywords?


**Options:**
 - 48
 - 38
 - 14
 - 1

In [8]:
%%sql
SELECT 
   COUNT(*) AS No_of_Thiller_Films
FROM 
   movies AS M
JOIN
   keywordmap AS K_M
ON
  M.movie_id = K_M.movie_id
JOIN
   keywords AS Ks
ON
  Ks.keyword_id = K_M.keyword_id
JOIN
   genremap AS GM
ON  
  M.movie_id = GM.movie_id
JOIN
   genres AS Gs
ON
  Gs.genre_id = GM.genre_id  
WHERE  
       Gs.genre_name = 'Thriller'
   AND (Ks.keyword_name = 'love'
        OR Ks.keyword_name = '% love %'
        OR Ks.keyword_name = ' love%'
        OR Ks.keyword_name = '%love ');

Running query in 'sqlite:///TMDB-a-4006.db'

+---------------------+
| No_of_Thiller_Films |
+---------------------+
|          14         |
+---------------------+

In [95]:
%%sql
SELECT 
    * 
FROM 
   movies AS M
JOIN
   keywordmap AS K_M
ON
  M.movie_id = K_M.movie_id
JOIN
   keywords AS Ks
ON
  Ks.keyword_id = K_M.keyword_id
JOIN
   genremap AS GM
ON  
  M.movie_id = GM.movie_id
JOIN
   genres AS Gs
ON
  Gs.genre_id = GM.genre_id  
WHERE  
       Gs.genre_name = 'Thriller'
        AND Ks.keyword_name LIKE '%love%'

Running query in 'sqlite:///TMDB-a-4006.db'

+----------+---------------------------+----------------------------+-----------+-------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+---------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+--------------+---------+----------------+--------------------------------------------------------------------------------------------+--------------+------------+------------+------------+--------------+---------------------+------------+----------+------------+------------+
| movie_id |           title           |        release_date        |   budget  |                                                                     homepage                                                                    | original_language |       original_title      |                                                                                                                                                                                                                                                                                                                                                                                                    overview                                                                                                                                                                                                                                                                                                                                                                                                   | popularity |   revenue    | runtime | release_status |                                          tagline                                           | vote_average | vote_count | movie_id_1 | keyword_id | keyword_id_1 |     keyword_name    | movie_id_2 | genre_id | genre_id_1 | genre_name |
+----------+---------------------------+----------------------------+-----------+-------------------------------------------------------------------------------------------------------------------------------------------------+-------------------+---------------------------+---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+------------+--------------+---------+----------------+--------------------------------------------------------------------------------------------+--------------+------------+------------+------------+--------------+---------------------+------------+----------+------------+------------+
|   116    |        Match Point        | 2005-10-26 00:00:00.000000 |  15000000 |                                                                       None                                                                      |         en        |        Match Point        |                                                                                                                                                                                                                                Match Point is Woody AllenÆs satire of the British High Society and the ambition of a young tennis instructor to enter into it. Yet when he must decide between two women - one assuring him his place in high society, and the other that would bring him far from it - palms start to sweat and a dark psychological match in his head begins.                                                                                                                                                                                                                               | 30.669913  |  85306374.0  |  124.0  |    Released    |                                Passion Temptation Obsession                                |     7.3      |    1105    |    116     |    128     |     128      |    love triangle    |    116     |    53    |     53     |  Thriller  |
|  242166  |          Red Sky          | 2014-03-12 00:00:00.000000 |  25000000 |                                                                       None                                                                      |         en        |          Red Sky          |                                                                                                                                                                                                                                                                                         Disgraced Top Gun fighter pilot Butch Masters leads a rogue squad in recovery of a WMD. Masters must navigate a fractured friendship, a love triangle, and must take to the skies to reclaim his military and personal honor.                                                                                                                                                                                                                                                                                         |  3.344158  |     0.0      |  100.0  |    Released    |                                          Go Rogue                                          |     4.1      |     26     |   242166   |    128     |     128      |    love triangle    |   242166   |    53    |     53     |  Thriller  |
|   1213   |  The Talented Mr. Ripley  | 1999-12-25 00:00:00.000000 |  40000000 |              <a href=http://www.miramax.com/movie/the-talented-mr-ripley/>http://www.miramax.com/movie/the-talented-mr-ripley/</a>              |         en        |  The Talented Mr. Ripley  |                                                                                                                                                                                                              Tom Ripley is a calculating young man who believes it's better to be a fake somebody than a real nobody. Opportunity knocks in the form of a wealthy U.S. shipbuilder who hires Tom to travel to Italy to bring back his playboy son, Dickie. Ripley worms his way into the idyllic lives of Dickie and his girlfriend, plunging into a daring scheme of duplicity, lies and murder.                                                                                                                                                                                                             | 31.385257  | 128798265.0  |  139.0  |    Released    |                        How far would you go to become someone else?                        |     7.0      |    767     |    1213    |    725     |     725      |     lovesickness    |    1213    |    53    |     53     |  Thriller  |
|   9075   |         Black Book        | 2006-09-01 00:00:00.000000 |  21000000 |                                                                       None                                                                      |         nl        |         Zwartboek         |                                                                                                                                                                                                                                                                                                                                 In the Nazi-occupied Netherlands during World War II, a Jewish singer infiltrates the regional Gestapo headquarters for the Dutch resistance.                                                                                                                                                                                                                                                                                                                                 | 13.906611  |  26193068.0  |  145.0  |    Released    |                      To fight the enemy, she must become one of them.                      |     7.2      |    277     |    9075    |    930     |     930      |  in love with enemy |    9075    |    53    |     53     |  Thriller  |
|   1424   |          November         | 2004-07-22 00:00:00.000000 |     0     |                                                                       None                                                                      |         en        |          November         |                                                                                                                                                                                                                                                                                                                                                Sophie Jacobs is going through the most difficult time of her life. Now, she just has to find out if it's real.                                                                                                                                                                                                                                                                                                                                                |  5.742359  |     0.0      |   73.0  |    Released    |                                            None                                            |     4.9      |     11     |    1424    |    1014    |     1014     |    loss of lover    |    1424    |    53    |     53     |  Thriller  |
|  11362   | The Count of Monte Cristo | 2002-01-23 00:00:00.000000 |  35000000 |                                                                       None                                                                      |         en        | The Count of Monte Cristo |                                                                                                                                                                                                                                                      Edmond DantTs's life and plans to marry the beautiful Mercedes are shattered when his best friend, Fernand, deceives him. After spending 13 miserable years in prison, DantTs escapes with the help of a fellow inmate and plots his revenge, cleverly insinuating himself into the French nobility.                                                                                                                                                                                                                                                     | 26.595983  |  75395048.0  |  131.0  |    Released    |                          Prepare for adventure. Count on revenge.                          |     7.3      |    453     |   11362    |    1014    |     1014     |    loss of lover    |   11362    |    53    |     53     |  Thriller  |
|  27205   |         Inception         | 2010-07-14 00:00:00.000000 | 160000000 |                             <a href=http://inceptionmovie.warnerbros.com/>http://inceptionmovie.warnerbros.com/</a>                             |         en        |         Inception         |                                                                                                                                                                                                                                                          "Cobb, a skilled thief who commits corporate espionage by infiltrating the subconscious of his targets is offered a chance to regain his old life as payment for a task considered to be impossible: ""inception"", the implantation of another person's idea into a target's subconscious."                                                                                                                                                                                                                                                         | 167.58371  | 825532764.0  |  148.0  |    Released    |                            Your mind is the scene of the crime.                            |     8.1      |   13752    |   27205    |    1014    |     1014     |    loss of lover    |   27205    |    53    |     53     |  Thriller  |
|   1213   |  The Talented Mr. Ripley  | 1999-12-25 00:00:00.000000 |  40000000 |              <a href=http://www.miramax.com/movie/the-talented-mr-ripley/>http://www.miramax.com/movie/the-talented-mr-ripley/</a>              |         en        |  The Talented Mr. Ripley  |                                                                                                                                                                                                              Tom Ripley is a calculating young man who believes it's better to be a fake somebody than a real nobody. Opportunity knocks in the form of a wealthy U.S. shipbuilder who hires Tom to travel to Italy to bring back his playboy son, Dickie. Ripley worms his way into the idyllic lives of Dickie and his girlfriend, plunging into a daring scheme of duplicity, lies and murder.                                                                                                                                                                                                             | 31.385257  | 128798265.0  |  139.0  |    Released    |                        How far would you go to become someone else?                        |     7.0      |    767     |    1213    |    1605    |     1605     |       new love      |    1213    |    53    |     53     |  Thriller  |
|   1988   |       A Mighty Heart      | 2007-01-01 00:00:00.000000 |  16000000 |                                 <a href=http://www.amightyheartmovie.com/>http://www.amightyheartmovie.com/</a>                                 |         en        |       A Mighty Heart      |                                                                                                                                                                                                                                                                                                                             Based on Mariane Pearl's account of the terrifying and unforgettable story of her husband, Wall Street Journal reporter Danny Pearl's life and death.                                                                                                                                                                                                                                                                                                                             |  9.717392  |  18928871.0  |  100.0  |    Released    |                             One woman dared to keep hope alive                             |     6.7      |     95     |    1988    |    1605    |     1605     |       new love      |    1988    |    53    |     53     |  Thriller  |
|  10135   |         Road House        | 1989-05-19 00:00:00.000000 |  15000000 |                                                                       None                                                                      |         en        |         Road House        |                                                                                                                                                              The Double Deuce is the meanest, loudest and rowdiest bar south of the Mason-Dixon Line, and Dalton (Patrick Swayze) has been hired to clean it up. He might not look like much, but the Ph.D.-educated bouncer proves he's more than capable -- busting the heads of troublemakers and turning the roadhouse into a jumping hot-spot. But Dalton's romance with the gorgeous Dr. Clay (Kelly Lynch) puts him on the bad side of cutthroat local big shot Brad Wesley (Ben Gazzara).                                                                                                                                                             |  6.216203  |  30050028.0  |  114.0  |    Released    | Dalton lives like a loner, fights like a professional. And loves like there's no tomorrow. |     6.3      |    252     |   10135    |    1605    |     1605     |       new love      |   10135    |    53    |     53     |  Thriller  |
|  11983   |       Proof of Life       | 2000-12-08 00:00:00.000000 |  65000000 |                                                                       None                                                                      |         en        |       Proof of Life       |                                                                                                                                                                                                                                                                                                                          Alice hires a professional negotiator to obtain the release of her engineer husband, who has been kidnapped by anti-government guerrillas in South America.                                                                                                                                                                                                                                                                                                                          | 14.866901  |     0.0      |  135.0  |    Released    |                                            None                                            |     6.0      |    208     |   11983    |    1605    |     1605     |       new love      |   11983    |    53    |     53     |  Thriller  |

In [9]:
%%sql
SELECT 
   COUNT(DISTINCT M.movie_id ) AS No_of_Thiller_Films
FROM 
   movies AS M
JOIN
   keywordmap AS K_M
ON
  M.movie_id = K_M.movie_id
JOIN
   keywords AS Ks
ON
  Ks.keyword_id = K_M.keyword_id
JOIN
   genremap AS GM
ON  
  M.movie_id = GM.movie_id
JOIN
   genres AS Gs
ON
  Gs.genre_id = GM.genre_id  
WHERE  
       Gs.genre_name = 'Thriller'
        AND Ks.keyword_name LIKE '% love %'

Running query in 'sqlite:///TMDB-a-4006.db'

+---------------------+
| No_of_Thiller_Films |
+---------------------+
|          1          |
+---------------------+

### Question 6

How many movies are there that were released between 1 August 2006 ('2006-08-01') and 1 October 2009 ('2009-10-01') that have a popularity score of more than 40 and a budget of less than 50 000 000?

 
**Options:**

 - 29
 - 23
 - 28
 - 35

In [10]:
%%sql
SELECT 
    COUNT(*) AS No_of_Films
FROM
    movies
WHERE
    release_date BETWEEN '2006-08-01' AND '2009-10-01'
AND popularity > 40
AND budget < 50000000;

Running query in 'sqlite:///TMDB-a-4006.db'

+-------------+
| No_of_Films |
+-------------+
|      29     |
+-------------+

### Question 7

How many unique characters has "Vin Diesel" played so far in the database?

**Options:**
 - 24
 - 19
 - 18
 - 16

In [56]:
%%sql  
select 
    count(distinct characters) 
FROM 
    actors  as act
inner join 
    casts as c
on c.actor_id = act.actor_id

where 
    actor_name like'Vin Diesel'

Running query in 'sqlite:///TMDB-a-4006.db'

+----------------------------+
| count(distinct characters) |
+----------------------------+
|             16             |
+----------------------------+

In [12]:
%%sql
SELECT 
     *
FROM 
    actors AS actor
JOIN
    casts AS CS
ON
  actor.actor_id = CS.actor_id
WHERE
    actor_name = 'Vin Diesel'

Running query in 'sqlite:///TMDB-a-4006.db'

+----------+------------+--------+----------+------------+------------------------------+
| actor_id | actor_name | gender | movie_id | actor_id_1 |          characters          |
+----------+------------+--------+----------+------------+------------------------------+
|  12835   | Vin Diesel |   2    |    18    |   12835    |        Finger (voice)        |
|  12835   | Vin Diesel |   2    |   857    |   12835    |    Private Adrian Caparzo    |
|  12835   | Vin Diesel |   2    |   2787   |   12835    |      Richard B. Riddick      |
|  12835   | Vin Diesel |   2    |   2789   |   12835    |           Riddick            |
|  12835   | Vin Diesel |   2    |   7451   |   12835    |         Xander Cage          |
|  12835   | Vin Diesel |   2    |   7501   |   12835    |         Taylor Reese         |
|  12835   | Vin Diesel |   2    |   8409   |   12835    |         Sean Vetter          |
|  12835   | Vin Diesel |   2    |   9381   |   12835    |            Toorop            |
|  12835   | Vin Diesel |   2    |   9615   |   12835    | Dominic Toretto (uncredited) |
|  12835   | Vin Diesel |   2    |   9799   |   12835    |       Dominic Toretto        |
|  12835   | Vin Diesel |   2    |   9950   |   12835    |       Jackie DiNorscio       |
|  12835   | Vin Diesel |   2    |  10022   |   12835    |          Shane Wolf          |
|  12835   | Vin Diesel |   2    |  10386   |   12835    |    The Iron Giant (voice)    |
|  12835   | Vin Diesel |   2    |  14181   |   12835    |         Chris Varick         |
|  12835   | Vin Diesel |   2    |  51497   |   12835    |       Dominic Toretto        |
|  12835   | Vin Diesel |   2    |  87421   |   12835    |           Riddick            |
|  12835   | Vin Diesel |   2    |  118340  |   12835    |        Groot (voice)         |
|  12835   | Vin Diesel |   2    |  168259  |   12835    |       Dominic Toretto        |
|  12835   | Vin Diesel |   2    |  274854  |   12835    |           Kaulder            |
+----------+------------+--------+----------+------------+------------------------------+

### Question 8

What are the genres of the movie “The Royal Tenenbaums”?


**Options:**
 - Action, Romance
 - Drama, Comedy
 - Crime, Thriller
 - Drama, Romance

In [13]:
%%sql
SELECT
    *
FROM
   genres AS GS
JOIN
   genremap AS GM
ON
  Gs.genre_id = GM.genre_id 
JOIN
   movies AS M
ON
  M.movie_id = GM.movie_id
WHERE
    title = 'The Royal Tenenbaums'

Running query in 'sqlite:///TMDB-a-4006.db'

+----------+------------+----------+------------+------------+----------------------+----------------------------+----------+----------+-------------------+----------------------+---------------------------------------------------------------------------------------------------------------+------------+------------+---------+----------------+---------------------------------------+--------------+------------+
| genre_id | genre_name | movie_id | genre_id_1 | movie_id_1 |        title         |        release_date        |  budget  | homepage | original_language |    original_title    |                                                    overview                                                   | popularity |  revenue   | runtime | release_status |                tagline                | vote_average | vote_count |
+----------+------------+----------+------------+------------+----------------------+----------------------------+----------+----------+-------------------+----------------------+---------------------------------------------------------------------------------------------------------------+------------+------------+---------+----------------+---------------------------------------+--------------+------------+
|    18    |   Drama    |   9428   |     18     |    9428    | The Royal Tenenbaums | 2001-10-05 00:00:00.000000 | 21000000 |   None   |         en        | The Royal Tenenbaums | An estranged family of former child prodigies reunites when their father announces he has a terminal illness. |  24.13081  | 71441250.0 |  110.0  |    Released    | Family isnÆt a word, itÆs a sentence. |     7.4      |    1286    |
|    35    |   Comedy   |   9428   |     35     |    9428    | The Royal Tenenbaums | 2001-10-05 00:00:00.000000 | 21000000 |   None   |         en        | The Royal Tenenbaums | An estranged family of former child prodigies reunites when their father announces he has a terminal illness. |  24.13081  | 71441250.0 |  110.0  |    Released    | Family isnÆt a word, itÆs a sentence. |     7.4      |    1286    |
+----------+------------+----------+------------+------------+----------------------+----------------------------+----------+----------+-------------------+----------------------+---------------------------------------------------------------------------------------------------------------+------------+------------+---------+----------------+---------------------------------------+--------------+------------+

### Question 9

What are the three production companies that have the highest movie popularity score on average, as recorded within the database?


**Options:**

 - MCL Films S.A., Turner Pictures, and George Stevens Productions
 - The Donners' Company, Bulletproof Cupid, and Kinberg Genre
 - Bulletproof Cupid, The Donners' Company, and MCL Films S.A
 - B.Sting Entertainment, Illumination Pictures, and Aztec Musique

In [14]:
%%sql
SELECT 
     PCs.production_company_name AS CompanyName,
     AVG(M.popularity) AS AVG_popularity
FROM
    movies AS M
JOIN
   productioncompanymap AS PCM
ON
  PCM.movie_id = M.movie_id
JOIN
   productioncompanies AS PCs
ON
  PCs.production_company_id = PCM.production_company_id 
GROUP BY
    1
ORDER BY
     2 DESC
LIMIT 3

Running query in 'sqlite:///TMDB-a-4006.db'

+----------------------+--------------------+
|     CompanyName      |   AVG_popularity   |
+----------------------+--------------------+
| The Donners' Company |     514.569956     |
|  Bulletproof Cupid   |     481.098624     |
|    Kinberg Genre     | 326.92099900000005 |
+----------------------+--------------------+

In [15]:
%%sql
WITH ProductionCompanyPopularity AS (
    SELECT
        production_company_name,
        AVG(popularity) AS AveragePopularity,
        RANK() OVER (ORDER BY AVG(Popularity) DESC) AS RowNum
    FROM
        movies AS M
    JOIN
           productioncompanymap AS PCM
    ON
          PCM.movie_id = M.movie_id
    JOIN
           productioncompanies AS PCs
    ON
          PCs.production_company_id = PCM.production_company_id 
    GROUP BY 
          production_company_name
)

SELECT
    production_company_name,
    AveragePopularity
FROM
    ProductionCompanyPopularity
WHERE
    RowNum <= 3;

Running query in 'sqlite:///TMDB-a-4006.db'

+-------------------------+--------------------+
| production_company_name | AveragePopularity  |
+-------------------------+--------------------+
|   The Donners' Company  |     514.569956     |
|    Bulletproof Cupid    |     481.098624     |
|      Kinberg Genre      | 326.92099900000005 |
+-------------------------+--------------------+

### Question 10

How many female actors (i.e. gender = 1) have a name that starts with the letter "N"?


**Options:**

 - 0
 - 355
 - 7335
 - 1949

In [16]:
%%sql
WITH ACTORS_N AS (
      SELECT
          actor_name ActorName,
          gender
      FROM
          ACTORS 
      WHERE
         gender = 1
      AND 
        ActorName LIKE 'N%' 
    
)
SELECT
    COUNT(ActorName)
FROM
    ACTORS_N

Running query in 'sqlite:///TMDB-a-4006.db'

+------------------+
| COUNT(ActorName) |
+------------------+
|       355        |
+------------------+

In [17]:
%%sql
SELECT
    COUNT(actor_name)
FROM
   ACTORS
WHERE
    gender = 1
 AND 
    actor_name LIKE 'N%'

Running query in 'sqlite:///TMDB-a-4006.db'

+-------------------+
| COUNT(actor_name) |
+-------------------+
|        355        |
+-------------------+

### Question 11

Which genre has, on average, the lowest movie popularity score? 


**Options:**

 - Science Fiction
 - Animation
 - Documentary
 - Foreign

In [18]:
%%sql
SELECT 
     Gs.genre_name AS GenreName,
     AVG(M.popularity) AS AVG_popularity
FROM
    movies AS M
JOIN
   genremap AS GM
ON 
  M.movie_id = GM.movie_id
JOIN
   genres AS Gs
ON
  Gs.genre_id = GM.genre_id 
GROUP BY
    1
ORDER BY
     2 ASC
LIMIT 1

Running query in 'sqlite:///TMDB-a-4006.db'

+-----------+-------------------+
| GenreName |   AVG_popularity  |
+-----------+-------------------+
|  Foreign  | 0.686786794117647 |
+-----------+-------------------+

### Question 12

Which award category has the highest number of actor nominations (actors can be male or female)? (Hint: `Oscars.name` contains both actors' names and film names.)

**Options:**

- Special Achievement Award
- Actor in a Supporting Role
- Actress in a Supporting Role
- Best Picture

In [36]:
%%sql
SELECT 
   award, 
   COUNT(DISTINCT name) AS NumberOfNominations
FROM 
   Oscars
WHERE
    name IN (SELECT actor_name
                 FROM
                     actors)
GROUP BY 
    Award
ORDER BY 
     NumberOfNominations DESC
LIMIT 5;

Running query in 'sqlite:///TMDB-a-4006.db'

+------------------------------+---------------------+
|            award             | NumberOfNominations |
+------------------------------+---------------------+
|  Actor in a Supporting Role  |         266         |
| Actress in a Supporting Role |         246         |
|   Actor in a Leading Role    |         120         |
|  Actress in a Leading Role   |         112         |
|            Actor             |          92         |
+------------------------------+---------------------+

### Question 13

For all of the entries in the Oscars table before 1934, the year is stored differently than in all the subsequent years. For example, the year would be saved as “1932/1933” instead of just “1933” (the second indicated year).  Which of the following options would be the appropriate code to update this column to have the format of the year be consistent throughout the entire table (second indicated year only shown)?


**Options:**

- `UPDATE Oscars SET year = RIGHT(year, -4)`
- `UPDATE Oscars SET year = SELECT substr(year, -4)`
- `UPDATE Oscars SET year = substr(year, -4)`
- `UPDATE Oscars year =  substr(year, 4)`

In [48]:
%%sql
UPDATE 
    Oscars 
SET 
   year = substr(year, -4)

Running query in 'sqlite:///TMDB-a-4006.db'

RuntimeError: (sqlite3.OperationalError) database is locked
[SQL: UPDATE
    Oscars
SET
   year = substr(year, -4)]
(Background on this error at: http://sqlalche.me/e/14/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

### Question 14

DStv will be having a special week dedicated to the actor Alan Rickman. Which of the following queries would create a new _view_ that shows the titles, release dates, taglines, and overviews of all movies that Alan Rickman has played in?



**Options:**

- SELECT title, release_date, tagline, overview 
FROM Movies LEFT JOIN Casts ON Casts.movie_id = Movies.movie_id Left JOIN Actors ON Casts.actor_id = Actors.actor_id 
WHERE Actors.actor_name = 'Alan Rickman'
AS VIEW Alan_Rickman_Movies

- CREATE VIEW Alan_Rickman_Movies AS  
SELECT title, release_date, tagline, overview FROM Movies  
LEFT JOIN Casts ON Casts.movie_id = Movies.movie_id Left JOIN Actors
ON Casts.actor_id = Actors.actor_id
WHERE Actors.actor_name = 'Alan Rickman' 


- CREATE NEW VIEW  Name  = Alan_Rickman_Movies AS SELECT title, release_date, tagline, overview FROM Movies LEFT JOIN Casts ON Casts.movie_id = Movies.movie_id Left JOIN Actors ON Casts.actor_id = Actors.actor_id WHERE Actors.actor_name = 'Alan Rickman'

- VIEW Alan_Rickman_Movies AS SELECT title, release_date, tagline, overview FROM Movies LEFT JOIN Casts ON Casts.movie_id = Movies.movie_id Left JOIN Actors ON Casts.actor_id = Actors.actor_id WHERE Actors.actor_name = 'Alan Rickman'

In [49]:
%%sql
CREATE VIEW Alan_Rickman_Movies AS
                SELECT 
                title,
                release_date,
                tagline,
                overview FROM Movies
LEFT JOIN
    Casts
ON
   Casts.movie_id = Movies.movie_id 
Left JOIN
   Actors 
ON 
   Casts.actor_id = Actors.actor_id 
WHERE
   Actors.actor_name = 'Alan Rickman'

Running query in 'sqlite:///TMDB-a-4006.db'

RuntimeError: (sqlite3.OperationalError) view Alan_Rickman_Movies already exists
[SQL: CREATE VIEW Alan_Rickman_Movies AS
                SELECT
                title,
                release_date,
                tagline,
                overview FROM Movies
LEFT JOIN
    Casts
ON
   Casts.movie_id = Movies.movie_id
Left JOIN
   Actors
ON
   Casts.actor_id = Actors.actor_id
WHERE
   Actors.actor_name = 'Alan Rickman']
(Background on this error at: http://sqlalche.me/e/14/e3q8)
If you need help solving this issue, send us a message: https://ploomber.io/community

### Question 15

Which of the statements about database normalisation are true?

**Statements:**
 
i) Database normalisation improves data redundancy, saves on storage space, and fulfils the requirement of records to be uniquely identified.

ii) Database normalisation supports up to the Third Normal Form and removes all data anomalies.

iii) Database normalisation removes inconsistencies that may cause the analysis of our data to be more complicated.

iv) Database normalisation increases data redundancy, saves on storage space, and fulfils the requirement of records to be uniquely identified.

**Options:**

 - (i) and (ii)
 - (i) and (iii)
 - (ii) and (iv)
 - (iii) and (iv)

#  

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>